# SQL Kurs Teil 1.0: Einf√ºhrung

- SQL (_Structured Query Language_) ist eine standardisierte Sprache um Daten abzurufen und zu manipulieren
- SQL ist eine deklarative Programmiersprache
- Die Ausf√ºhrung ist hoch optimiert und parallelisiert
- Es gibt viele Standards und Dialekte
  - SEQUEL (_Structured English Query Language_), Vorl√§ufer von SQL
  - SQL-86 / ANSI SQL / SQL1
  - SQL-92 / SQL2
  - SQL:1999 / SQL3
  - weitere Versionen: SQL:2003, SQL/XML:2006, SQL:2008, SQL:2011, SQL:2016, SQL/MDA:2019

  - Transact-SQL / T-SQL: Microsoft und Sybase
  - PL/pgSQL: PostgreSQL
  - PL/SQL: Oracle
  - MySQL, MariaDB, Sqlite, DB2, MaxDB, uvm.

In diesem Kurs verwenden wir Sqlite.

## Aufbau von SQL

SQL ist in mehrere Bereiche aufgeteilt:
- DQL (_Data Query Language_): Befehle um Daten abzurufen (wird h√§ufig der DML zugeordnet)
  - `SELECT`: Daten selektieren und abrufen
- DML (_Data Manipulation Language_): Befehle um Daten zu ver√§ndern
  - `INSERT`: Daten einf√ºgen
  - `UPDATE`: Daten aktualisieren
  - `DELETE`: Daten l√∂schen
- DDL (_Data Definition Language_): Befehle um Daten zu definieren und strukturieren
  - `CREATE`: Tabellen und weitere Elemente anlegen
  - `ALTER`: Tabellen und weitere Elemente ver√§ndern
  - `DROP`: Tabellen und weitere Elemente l√∂schen
- DCL (_Data Control Language_): Befehle um Berechtigungen zu kontrollieren
  - `GRANT`: Berechtigungen gew√§hren
  - `REVOKE`: Berechtigungen entziehen
- TCL (_Transaction Control Language_): Steuerung von Transaktionen (wird h√§ufig der DML zugeordnet)
  - `COMMIT`: Best√§tigung der Aktionen und definitives Schreiben der Daten
  - `ROLLBACK`: Verwerfen der Aktionen daher werden Daten nicht geschrieben
  - `SAVEPOINT`: Anlegen eines Speicherpunkts zu dem mit einem Rollback zur√ºckgekehrt werden kann

## Aufbau Beispiel Datenbank

Die Beispiel Datenbank beinhaltet fiktive Testdaten, welche Daten aus einem Bestellsystem nachempfunden sind.

![](./resources/erd.png)

# Ausf√ºhren von Befehlen auf der Datenbank

Bei jedem Kapitel muss zuerst die Verbindung zur Datenbank hergestellt werden. Dabei wird eine Kopie der Datenbank aus dem Repository erstllt und es werden keine Daten zur√ºck ins Repository geschrieben.

In [ ]:
# Ausf√ºhren um die Verbindung zur Datenbank aufzubauen

import sqlite3
import pandas as pd
import urllib.request

urllib.request.urlretrieve("https://github.com/tschuegge/SqlKurs/raw/master/database.db", "database.db")
conn = sqlite3.connect("database.db")

def query(query):
  return pd.read_sql_query(query, conn)

print("üòä Verbunden mit Sqlite " + sqlite3.sqlite_version)

Anschliessend ist die Datenbank bereit um Befehle auszuf√ºhren.

In [ ]:
# SQL Abfragen m√ºssen zwischen den Anf√ºhrungszeichen geschrieben werden
# Kommentare sind auch im SQL-Statement m√∂glich

query("""

/*
 * Mehrzeiliger Kommentar in SQL
 */

-- Einzeiliger Kommentar in SQL

SELECT CASE WHEN (SELECT COUNT(*) FROM artikel) = 50 THEN 'üëçüèº Die Abfrage wurde korrekt ausgef√ºhrt.' ELSE 'üëéüèº Es ist ein Fehler aufgetreten!' END AS Ergebnis

""")