# SQL Kurs Teil 1.1: DQL Select Basics

`SELECT` ruft Daten aus der Datenbank ab und mit `ORDER BY` werden die Spalten sortiert, falls notwendig.

## Syntax
```sql
SELECT {Resultat-Spalten} FROM {Tabelle} ORDER BY {Spalte} ASC/DESC
```

Weitere Informationen: [Simple Select Statement](https://www.sqlite.org/lang_select.html#simple_select_processing)


## Beispiele

Alle Spalten der Tabelle _Artikel_ ausgeben und diese nach Preis aufsteigend sortieren:
```sql
SELECT * FROM artikel ORDER BY nettopreis ASC -- ASC ist optional
```

Bestimmte Spalten ausgeben und teilweise umbenennen:
```sql
SELECT
  bezeichnung AS Bez,  -- Spalte umbenannt
  nettopreis Preis,    -- 'AS' ist optional
  bestand,
  mindestbestand
FROM artikel
```

Mit den Spalten rechnen:
```sql
SELECT
  bestand - mindestbestand AS Verf√ºgbarerBestand, -- Mathematisch
  artikelnr || ' - ' || bezeichnung AS Titel,     -- Zeichenketten zusammensetzen (siehe Hinweis unten),
                                                  -- konstante Zeichenketten werden mit ' angegeben
  *
FROM artikel
ORDER BY Verf√ºgbarerBestand DESC                  -- Auch nach berechneten Spalten kann sortiert werden
```

Hinweis: In anderen Dialekten wird der Befehl `CONCAT()` (SQL Standard) oder `+` (T-SQL) verwendet

## Aufgaben

In [ ]:
# Ausf√ºhren um die Verbindung zur Datenbank aufzubauen

import sqlite3
import pandas as pd
import urllib.request

urllib.request.urlretrieve("https://github.com/tschuegge/SqlKurs/raw/master/database.db", "database.db")
conn = sqlite3.connect("database.db")

def query(query):
  return pd.read_sql_query(query, conn)

print("üòä Verbunden mit Sqlite " + sqlite3.sqlite_version)

### Aufgabe 1.1.1

Rufe alle Informationen aller Mitarbeiter sortiert nach Nachname ab.

In [ ]:
query("""



""")

### Aufgabe 1.1.2

Ermittle von allen Kunden den Vornamen, Nachname und Ort und sortiere diese nach Ort und Nachname.

In [ ]:
query("""



""")

### Aufgabe 1.1.3

Gib eine Lohnliste mit folgenden Spalten aus:
- name: Nachname und Vorname kombiniert
- ort: Postleitzahl und Ort kombiniert
- lohn: Gehalt mit vorangestellter W√§hrung (CHF)

Gib die Liste nach Gehalt absteigend sortiert aus.

In [ ]:
query("""



""")

### Aufgabe 1.1.4

Gib eine nach Nettopreis absteigend sortierte Artikelliste aus, ohne den Hersteller, MwSt, Best√§nde, Artikelkategorie und Bestellvorschlag.

In [ ]:
query("""



""")