In [ ]:
# AusfÃ¼hren um die Verbindung zur Datenbank aufzubauen

import sqlite3
import pandas as pd
import urllib.request

urllib.request.urlretrieve("https://github.com/tschuegge/SqlKurs/raw/master/database.db", "database.db")
conn = sqlite3.connect("database.db")

def query(query):
  return pd.read_sql_query(query, conn)

print("ðŸ˜Š Verbunden mit Sqlite " + sqlite3.sqlite_version)

In [ ]:
# Aufgabe 1.2.1
query("""

SELECT * FROM kunde WHERE ort = 'Bern'

""")

In [ ]:
# Aufgabe 1.2.2
query("""

SELECT * FROM kunde WHERE zahlungsart = 'K' OR zahlungsart = 'V' OR zahlungsart = 'N'

-- Alternative
-- SELECT * FROM kunde WHERE zahlungsart IN ('K', 'V', 'N')

""")

In [ ]:
# Aufgabe 1.2.3
query("""

SELECT * FROM mitarbeiter WHERE gehalt * 12 + 5000 < 90000

-- Vorsicht ob Klammern notwendig sind, im Zweifelsfall lieber zu viel Klammern setzen

""")

In [ ]:
# Aufgabe 1.2.4
query("""

SELECT * FROM artikel WHERE bezeichnung LIKE 'Windows%'

""")

In [ ]:
# Aufgabe 1.2.5
query("""

SELECT * FROM artikel WHERE length(artikelnr) <= 4

-- 'artikelnr' ist eine Zeichenkette, daher muss zuerst die LÃ¤nge dieser ermittelt werden.
-- Durch '<=' werden auch Artikel gefunden, welche ev. noch kÃ¼rzere Nummern haben.

""")

In [ ]:
# Aufgabe 1.2.6
query("""

SELECT * FROM hersteller WHERE name LIKE '%on%'

""")

In [ ]:
# Aufgabe 1.2.7
query("""

SELECT * FROM kunde WHERE email NOT LIKE '%@%.%'

""")

In [ ]:
# Aufgabe 1.2.8
query("""

SELECT * FROM mitarbeiter WHERE email <> lower(vorname) || '.' || lower(name) || '@tradingco.ch'

-- Vorsicht, die Namen mÃ¼ssen zuerst in Kleinbuchstaben umgewandelt werden

""")