# SQL Kurs Teil 1.2: DQL Where Conditions

`WHERE` filtert Daten welche aus der Datenbank abgerufen werden.

## Syntax
```sql
SELECT {Resultat-Spalten} FROM {Tabelle} WHERE {Expression}
```


### Vergleich

Expressions sind meistens Vergleiche:

```sql
{Spalte} = {Vergleichswert}  -- Datensätze selektieren, bei denen Wert ist gleich ist
{Spalte} <> {Vergleichswert} -- Datensätze selektieren, bei denen Wert ist ungleich ist
{Spalte} < {Vergleichswert}  -- Datensätze selektieren, bei denen Wert ist kleiner ist
{Spalte} > {Vergleichswert}  -- Datensätze selektieren, bei denen Wert ist grösser ist
{Spalte} <= {Vergleichswert} -- Datensätze selektieren, bei denen Wert ist kleiner oder gleich ist
{Spalte} >= {Vergleichswert} -- Datensätze selektieren, bei denen Wert ist grösser oder gleich ist
```
```sql
WHERE bezeichnung = 'Auto'   -- Selektiert alles, was die Bezeichnung 'Auto' trägt
WHERE nettopreis < 6000      -- Selektiert alles, was günstiger wie 6000 ist (also 5999 und günstiger, nicht 6000)
```


### Suche in Zeichenketten

Mit `LIKE` kann mit Platzhaltern in Zeichenketten gefiltert werden. `%` steht dabei für mehrere Zeichen und `_` für ein einzelnes Zeichen:

```sql
{Spalte} LIKE {Vergleichswert}
{Spalte} NOT LIKE {Vergleichswert}
```
```sql
WHERE bezeichnung LIKE 'A%'    -- Selektiert alles, was mit 'A' beginnt
WHERE bezeichnung LIKE '_aus%' -- Selektiert 'Haustüre', 'Mauseloch', usw. auch 'Laus' nicht aber 'Klaus'
```


### Suche nach nicht gesetzten Werten (NULL)

Mit `IS NULL` kann nach nicht gesetzten Werten gefiltert werden

```sql
{Spalte} IS NULL
{Spalte} IS NOT NULL
```
```sql
WHERE ort IS NULL             -- Selektiert alles bei dem kein Ort gesetzt wurde
WHERE lieferdatum IS NOT NULL -- Selektiert alles was noch nicht geliefert wurde
```


### Verkettung von Vergleichen

Vergleiche können mit `AND` (alle Vergleiche müssen zutreffen) und `OR` (nur ein Vergleich muss zutreffen) verkettet werden:

```sql
{Vergleich A} AND {Vergleich B}
{Vergleich A} OR {Vergleich B}
```
```sql
WHERE ort LIKE 'Z%' AND vorname = 'Tom' -- Selektiert alles bei dem der Ort mit 'Z' beginne und der Vorname 'Tom' ist
WHERE nettopreis > 5000 OR nettopreis < 2000 -- Selektiert alles bei dem der Nettopreis kleiner wie 2000 oder grösser wie 5000 ist
```


Weitere Informationen: [SQL Language Expressions](https://www.sqlite.org/lang_expr.html)


## Beispiele

Alle Artikel ausgeben, die teurer sind wie 1000 Franken:
```sql
SELECT * FROM artikel WHERE nettopreis > 1000
```

Alle Kunden, welche in einer Ortschaft wohnen, welche die PLZ mit 7 oder 8 beginnt
```sql
SELECT * FROM kunde WHERE plz LIKE '8%' OR plz LIKE '7%'
```

Berechnete Werte können auch verwendet werden, z.B. zum ermitteln, wer über CHF 100000 Jahresgehalt bekommt.
```sql
SELECT * FROM mitarbeiter WHERE gehalt * 12 > 100000
```

## Aufgaben

In [ ]:
# Ausführen um die Verbindung zur Datenbank aufzubauen

import urllib.request
urllib.request.urlretrieve("https://github.com/tschuegge/SqlKurs/raw/master/connect.py", "connect.py")
def sql(): pass
%run ./connect.py

### Aufgabe 1.2.1

Rufe alle Kunden ab, die in Bern wohnen.

In [ ]:
sql("""



""")

### Aufgabe 1.2.2

Ermittle alle Informationen von Kunden, deren Zahlungsart 'K', 'V' oder 'N' ist und sortiere zur Kontrolle nach Zahlungsart.

In [ ]:
sql("""



""")

### Aufgabe 1.2.3

Gib alle Mitarbeiter aus, welche weniger wie 90000 Franken Jahreslohn (12 Monate) haben, wenn eine Bonuszahlung von 5000 Franken berücksichtigt wird.

In [ ]:
sql("""



""")

### Aufgabe 1.2.4

Gibt alle Windows-Editionen aus dem Artikelstamm aus.

In [ ]:
sql("""



""")

### Aufgabe 1.2.5

Gib alle Artikel aus, welche noch 4-stellige Artikelnummern haben.

In [ ]:
sql("""



""")

### Aufgabe 1.2.6

Gib alle Hersteller aus, bei denen 'on' im Namen vorkommt.

In [ ]:
sql("""



""")

### Aufgabe 1.2.7

Gib alle Kunden mit ungültigen E-Mailadressen aus.

In [ ]:
sql("""



""")

### Aufgabe 1.2.8

Gib alle Mitarbeiter aus, welche die E-Mailadresse nicht nach dem aktuellen Schema (_vorname.nachname@tradingco.ch_) eingerichtet haben.

In [ ]:
sql("""



""")