In [ ]:
# Ausf체hren um die Verbindung zur Datenbank aufzubauen

import urllib.request
urllib.request.urlretrieve("https://github.com/tschuegge/SqlKurs/raw/master/connect.py", "connect.py")
def sql(): pass
%run ./connect.py

In [ ]:
# Aufgabe 1.2.1
sql("""

SELECT * FROM kunde WHERE ort = 'Bern'

""")

In [ ]:
# Aufgabe 1.2.2
sql("""

SELECT * FROM kunde WHERE zahlungsart = 'K' OR zahlungsart = 'V' OR zahlungsart = 'N'

-- Alternative
-- SELECT * FROM kunde WHERE zahlungsart IN ('K', 'V', 'N')

""")

In [ ]:
# Aufgabe 1.2.3
sql("""

SELECT * FROM mitarbeiter WHERE gehalt * 12 + 5000 < 90000

-- Vorsicht ob Klammern notwendig sind, im Zweifelsfall lieber zu viel Klammern setzen

""")

In [ ]:
# Aufgabe 1.2.4
sql("""

SELECT * FROM artikel WHERE bezeichnung LIKE 'Windows%'

""")

In [ ]:
# Aufgabe 1.2.5
sql("""

SELECT * FROM artikel WHERE length(artikelnr) <= 4

-- 'artikelnr' ist eine Zeichenkette, daher muss zuerst die L채nge dieser ermittelt werden.
-- Durch '<=' werden auch Artikel gefunden, welche ev. noch k체rzere Nummern haben.

""")

In [ ]:
# Aufgabe 1.2.6
sql("""

SELECT * FROM hersteller WHERE name LIKE '%on%'

""")

In [ ]:
# Aufgabe 1.2.7
sql("""

SELECT * FROM kunde WHERE email NOT LIKE '%@%.%'

""")

In [ ]:
# Aufgabe 1.2.8
sql("""

SELECT * FROM mitarbeiter WHERE email <> lower(vorname) || '.' || lower(name) || '@tradingco.ch'

-- Vorsicht, die Namen m체ssen zuerst in Kleinbuchstaben umgewandelt werden

""")