In [56]:
# AusfÃ¼hren um die Verbindung zur Datenbank aufzubauen

import sqlite3
import pandas as pd
import urllib.request

urllib.request.urlretrieve("https://github.com/tschuegge/SqlKurs/raw/master/database.db", "database.db")
conn = sqlite3.connect("database.db")

def query(query):
  return pd.read_sql_query(query, conn)

print("ðŸ˜Š Verbunden mit Sqlite " + sqlite3.sqlite_version)

ðŸ˜Š Verbunden mit Sqlite 3.32.3

In [57]:
# Aufgabe 1.3.1
query("""

SELECT
  a.artikelnr Artikelnummer,
  a.bezeichnung Artikelbezeichnung,
  m.satz MwstSatz,
  k.bezeichnung Kategoriebezeichnung
FROM artikel a
  LEFT JOIN mwstsatz m ON m.id = a.mwstid
  LEFT JOIN artikelkategorie k ON k.id = a.kategorieid

""")

,Artikelnummer,Artikelbezeichnung,MwstSatz,Kategoriebezeichnung
0,1511,106075,7.7,Monitore
1,1512,106055,7.7,Monitore
2,1513,753S,7.7,Monitore
3,1514,757P,7.7,Monitore
4,1515,1200NF,7.7,Monitore
5,1516,CanoScan LiDE 20,7.7,Scanner
6,1517,CanoScan 5000F,7.7,Scanner
7,1518,Perfection1670,7.7,Scanner
8,1519,ScanJet 2400,7.7,Scanner
9,15110,ScanJet 8290,7.7,Scanner
10,15111,Millenium G450,7.7,Grafikkarten
11,15112,Millenium G550,7.7,Grafikkarten
12,15113,Millenium G650,7.7,Grafikkarten
13,15114,Millenium P750,7.7,Grafikkarten
14,15115,Parhelia 512,7.7,Grafikkarten
15,15116,SV0802N,7.7,Festplatten
16,15117,SP0802N,7.7,Festplatten
17,15118,SV1203N,7.7,Festplatten
18,15119,SP1604N,7.7,Festplatten
19,15120,MHT2060AH,7.7,Festplatten
20,15121,Aureon 5.1 Fun,7.7,Soundkarten
21,15122,Aureon 5.1 Fun Games,7.7,Soundkarten
22,15123,Aureon 5.1 Sky,7.7,Soundkarten
23,15124,Aureon 5.1 USB,7.7,Soundkarten
24,15125,Aureon 5.1 Universe,7.7,Soundkarten
25,15126,Internet Keyboard,7.7,Keyboards
26,15127,Office Keyboard,7.7,Keyboards
27,15128,Natural MultiMedia,7.7,Keyboards
28,15129,MultiMedia Keyboard refresh,7.7,Keyboards
29,15130,WL Optical Desctop for Bluetooth,7.7,Keyboards
30,15131,DeskJet 3520,7.7,Drucker
31,15132,OfficeJet 7140xi,7.7,Drucker
32,15133,LaserJet 1150,7.7,Drucker
33,15134,i250,7.7,Drucker
34,15135,BJC-5500,7.7,Drucker
35,15136,Stylus C44 Plus,7.7,Drucker
36,15137,Stylus Photo R300,7.7,Drucker
37,15138,Basic Optical Mouse SB,7.7,MÃ¤use
38,15139,Mouse Blue,7.7,MÃ¤use
39,15140,Wireless InteliMouse Explorer BT,7.7,MÃ¤use
40,15141,Windows 10 Professional,7.7,Software
41,15142,Windows 10 Home Edition,7.7,Software
42,15143,Office 2019,7.7,Software
43,15144,Visual Studio 2019,7.7,Software
44,15145,Works Suite 2020,7.7,Software
45,15146,SC-152A,7.7,Laufwerke
46,15147,SW252,7.7,Laufwerke
47,15148,SM-352,7.7,Laufwerke
48,15149,SD-616,7.7,Laufwerke
49,15150,SC-152A schwarz,7.7,Laufwerke

In [58]:
# Aufgabe 1.3.2
query("""

SELECT m.name, m.vorname, b.bestelldatum
FROM mitarbeiter m
  INNER JOIN bestellungkopf b ON b.verkaeuferid = m.id

-- Durch den Inner Join werden alle Mitarbeitenden ausgefiltert, welche nichts verkauft haben

""")

        name vorname bestelldatum
0     MÃ¼ller     Ole   2010-01-29
1       Ross  Thomas   2010-02-11
2     MÃ¼ller     Ole   2010-02-17
3    Schmidt   Peter   2010-03-21
4     Schiff  Martin   2010-03-21
..       ...     ...          ...
475   MÃ¼ller     Ole   2020-11-27
476   Schiff  Martin   2020-12-10
477   Schiff  Martin   2020-12-16
478   Schiff  Martin   2020-12-17
479   MÃ¼ller     Ole   2020-12-30

[480 rows x 3 columns]

In [59]:
# Aufgabe 1.3.3
query("""

SELECT b.*  -- Alle Spalten der Tabelle 'bestellungkopf' (Alias 'b') werden ausgegeben
FROM bestellungkopf b
  INNER JOIN mitarbeiter m ON m.id = b.verkaeuferid
  INNER JOIN abteilung a ON a.id = m.abteilungid
WHERE a.bezeichnung <> 'Vertrieb'

""")

,id,kundeid,verkaeuferid,sachbearbeiterid,vermittlerid,bestelldatum,lieferdatum,rechnungsbetrag
0,2,23,1,7,NaN,2010-02-11,2010-02-17,0.0
1,16,81,2,6,NaN,2010-06-03,2010-06-12,0.0
2,21,62,1,7,NaN,2010-07-11,2010-07-20,0.0
3,47,31,6,6,8.0,2011-02-16,2011-02-18,0.0
4,84,70,14,6,NaN,2012-01-17,2012-01-27,0.0
5,109,37,1,6,19.0,2012-07-10,2012-07-17,0.0
6,132,38,6,7,NaN,2013-01-10,2013-01-13,0.0
7,151,31,2,6,NaN,2013-05-29,2013-05-31,0.0
8,185,97,15,6,NaN,2014-03-17,2014-03-23,0.0
9,188,92,6,6,NaN,2014-04-28,2014-05-03,0.0
10,205,13,9,6,NaN,2014-07-19,2014-07-29,0.0
11,209,28,1,7,NaN,2014-09-16,2014-09-23,0.0
12,216,32,2,7,NaN,2014-11-16,2014-11-24,0.0
13,244,32,6,6,NaN,2015-07-24,2015-07-29,0.0
14,250,25,1,6,NaN,2015-09-27,2015-10-05,0.0
15,300,77,2,7,NaN,2016-10-24,2016-10-30,0.0
16,314,81,15,6,NaN,2017-03-18,2017-03-20,0.0
17,315,87,6,7,NaN,2017-04-10,2017-04-18,0.0
18,339,97,15,7,NaN,2017-12-03,2017-12-06,0.0
19,389,76,14,6,NaN,2019-02-25,2019-03-06,0.0
20,398,38,6,7,NaN,2019-04-22,2019-04-23,0.0
21,419,22,1,6,NaN,2019-10-18,2019-10-23,0.0

In [60]:
# Aufgabe 1.3.4
query("""

SELECT a.*  -- 'DISTINCT' filtert doppelte DatensÃ¤tze aus
FROM artikel a
  INNER JOIN bestellungposition p ON p.artikelid = a.id
  INNER JOIN bestellungkopf b ON b.id = p.bestellungkopfid
  INNER JOIN kunde k ON k.id = b.kundeid
WHERE k.ort = 'Widnau'

""")

,id,artikelnr,bezeichnung,herstellerid,nettopreis,mwstid,bestand,mindestbestand,kategorieid,bestellvorschlag
0,20,15120,MHT2060AH,9,197.41,1,100,10,4,0
1,27,15127,Office Keyboard,10,25.85,1,100,10,6,1
2,18,15118,SV1203N,2,72.41,1,100,10,4,1
3,9,1519,ScanJet 2400,4,63.79,1,100,10,2,1
4,28,15128,Natural MultiMedia,10,23.28,1,100,10,6,1
5,8,1518,Perfection1670,8,81.03,1,100,10,2,0
6,11,15111,Millenium G450,5,81.03,1,100,10,3,0
7,8,1518,Perfection1670,8,81.03,1,100,10,2,0
8,24,15124,Aureon 5.1 USB,6,85.34,1,100,10,5,0
9,7,1517,CanoScan 5000F,7,132.76,1,100,10,2,0
10,30,15130,WL Optical Desctop for Bluetooth,10,128.45,1,100,10,6,1
11,15,15115,Parhelia 512,5,309.48,1,100,10,3,1
12,24,15124,Aureon 5.1 USB,6,85.34,1,100,10,5,0
13,20,15120,MHT2060AH,9,197.41,1,100,10,4,0
14,5,1515,1200NF,2,602.59,1,100,10,1,0
15,2,1512,106055,1,172.14,1,100,10,1,1
16,16,15116,SV0802N,2,55.17,1,100,10,4,1

In [61]:
# Aufgabe 1.3.5
query("""

SELECT DISTINCT abt.bezeichnung
FROM abteilung abt
  INNER JOIN mitarbeiter ma ON ma.abteilungid = abt.id
  INNER JOIN bestellungkopf bk ON bk.verkaeuferid = ma.id
  INNER JOIN bestellungposition bp ON bp.bestellungkopfid = bk.id
  INNER JOIN artikel art ON art.id = bp.artikelid
  INNER JOIN hersteller h ON h.id = art.herstellerid
WHERE h.name = 'Belinea'

""")

        bezeichnung
0  GeschÃ¤ftsfÃ¼hrung
1          Vertrieb
2        Verwaltung
3    Rechnungswesen

In [62]:
# Aufgabe 1.3.6
query("""

SELECT a.*
FROM artikel a
  INNER JOIN mwstsatz m ON m.id = a.mwstid
WHERE m.satz < 7.7

-- Es ist mÃ¶glich, dass korrekterweise keine DatensÃ¤tze zurÃ¼ckgegeben werden

""")

Empty DataFrame
Columns: [id, artikelnr, bezeichnung, herstellerid, nettopreis, mwstid, bestand, mindestbestand, kategorieid, bestellvorschlag]
Index: []

In [63]:
# Aufgabe 1.3.7
query("""

SELECT *
FROM bestellungkopf b
  LEFT JOIN kunde k ON k.id = b.kundeid 
  LEFT JOIN kunde v ON v.id = b.vermittlerid
WHERE k.ort = 'Emmen' OR v.ort = 'Emmen'

-- Ein Left Join ist zwingend, da sonst alle Bestellungen ausgefiltert werden
-- welche nicht von jemandem aus Emmen bestellt UND vermittelt wurden

""")

,id,kundeid,verkaeuferid,sachbearbeiterid,vermittlerid,bestelldatum,lieferdatum,rechnungsbetrag,id,kundennr,...,kundennr,name,vorname,strasse,plz,ort,telefongeschaeft,telefonprivat,email,zahlungsart
0,72,99,12,6,95.0,2011-11-03,2011-11-05,0.0,99,10108,...,10104.0,Ritter,Hannes,Emschertalstrasse 73,6032,Emmen,031 846 77 77,078 178 83 61,hannes.ritter@lola.com,R
1,88,95,11,7,NaN,2012-02-18,2012-02-28,0.0,95,10104,...,NaN,None,None,None,None,None,None,None,None,None
2,331,95,13,7,NaN,2017-08-27,2017-09-04,0.0,95,10104,...,NaN,None,None,None,None,None,None,None,None,None