In [ ]:
# Ausführen um die Verbindung zur Datenbank aufzubauen

import urllib.request, os
if not os.path.isdir("resources"): os.mkdir("resources")
urllib.request.urlretrieve("https://github.com/tschuegge/SqlKurs/raw/master/resources/connect.py", "resources/connect.py")
def query(): pass
%run ./resources/connect.py

In [ ]:
# Aufgabe 1.3.1
query("""

SELECT
  a.artikelnr Artikelnummer,
  a.bezeichnung Artikelbezeichnung,
  m.satz MwstSatz,
  k.bezeichnung Kategoriebezeichnung
FROM artikel a
  LEFT JOIN mwstsatz m ON m.id = a.mwstid
  LEFT JOIN artikelkategorie k ON k.id = a.kategorieid

""")

In [ ]:
# Aufgabe 1.3.2
query("""

SELECT m.name, m.vorname, b.bestelldatum
FROM mitarbeiter m
  INNER JOIN bestellungkopf b ON b.verkaeuferid = m.id

-- Durch den Inner Join werden alle Mitarbeitenden ausgefiltert, welche nichts verkauft haben

""")

In [ ]:
# Aufgabe 1.3.3
query("""

SELECT b.*  -- Alle Spalten der Tabelle 'bestellungkopf' (Alias 'b') werden ausgegeben
FROM bestellungkopf b
  INNER JOIN mitarbeiter m ON m.id = b.verkaeuferid
  INNER JOIN abteilung a ON a.id = m.abteilungid
WHERE a.bezeichnung <> 'Vertrieb'

""")

In [ ]:
# Aufgabe 1.3.4
query("""

SELECT a.*  -- 'DISTINCT' filtert doppelte Datensätze aus
FROM artikel a
  INNER JOIN bestellungposition p ON p.artikelid = a.id
  INNER JOIN bestellungkopf b ON b.id = p.bestellungkopfid
  INNER JOIN kunde k ON k.id = b.kundeid
WHERE k.ort = 'Widnau'

""")

In [ ]:
# Aufgabe 1.3.5
query("""

SELECT DISTINCT abt.bezeichnung
FROM abteilung abt
  INNER JOIN mitarbeiter ma ON ma.abteilungid = abt.id
  INNER JOIN bestellungkopf bk ON bk.verkaeuferid = ma.id
  INNER JOIN bestellungposition bp ON bp.bestellungkopfid = bk.id
  INNER JOIN artikel art ON art.id = bp.artikelid
  INNER JOIN hersteller h ON h.id = art.herstellerid
WHERE h.name = 'Belinea'

""")

In [ ]:
# Aufgabe 1.3.6
query("""

SELECT a.*
FROM artikel a
  INNER JOIN mwstsatz m ON m.id = a.mwstid
WHERE m.satz < 7.7

-- Es ist möglich, dass korrekterweise keine Datensätze zurückgegeben werden

""")

In [ ]:
# Aufgabe 1.3.7
query("""

SELECT *
FROM bestellungkopf b
  LEFT JOIN kunde k ON k.id = b.kundeid 
  LEFT JOIN kunde v ON v.id = b.vermittlerid
WHERE k.ort = 'Emmen' OR v.ort = 'Emmen'

-- Ein Left Join ist zwingend, da sonst alle Bestellungen ausgefiltert werden
-- welche nicht von jemandem aus Emmen bestellt UND vermittelt wurden

""")

In [ ]:
# Aufgabe 1.3.8
query("""

SELECT 
  a.artikelnr,
  ROUND(a.nettopreis * (1 + m.satz/100), 2) bruttopreis  -- ROUND(x, y) rundet die Zahl 'x' auf 'y' Stellen hinter dem Komma
FROM artikel a
  INNER JOIN mwstsatz m ON m.id = a.mwstid;

""")