# SQL Kurs Teil 1.3: DQL Joins

Joins verbinden mehrere Tabellen.


## Syntax

```sql
SELECT {Resultat-Spalten} FROM {Tabelle} {LEFT JOIN | INNER JOIN} {Verbundene Tabelle} ON {Expression}
```


### Left Join

Häufig werden zwei Tabellen mit einem Left Join verbunden.

```sql
SELECT *
FROM Schueler s -- der Tabelle wurde der Alias 's' vergeben (auf das Schlüsselwort 'AS' wurde verzichtet)
  LEFT JOIN Klassen k ON s.KlasseId = k.Id
```

Dadurch werden alle Datensätze der Tabelle _Schueler_ im Resultat zurückgegeben:

![](./resources/leftjoin.drawio.svg)


### Inner Join

Falls nur vollständige Datensätze benötigt werden, dann wird ein Inner Join verwendet

```sql
SELECT *
FROM Schueler s
  INNER JOIN Klassen k ON s.KlasseId = k.Id
```

Dadurch werden nur die Datensätze der Tabelle _Schueler_ zurückgegeben, welche einen Fremdschlüssel in der Spalte _KlasseId_ haben:

![](./resources/innerjoin.drawio.svg)


Weitere Informationen: [Determination of input data](https://www.sqlite.org/lang_select.html#fromclause)


## Beispiele

Alle Mitarbeiter mit der Abteilung:
```sql
SELECT * FROM mitarbeiter m LEFT JOIN abteilung a ON m.abteilungid = a.id 
```

Es können mehrere Tabelle verbunden werden, z.B. zum Ermitteln aller Artikelnummern und Artikelbezeichnungen mit Herstellernamen und Kategorienamen:
```sql
SELECT
  a.artikelnr Artikelnummer,
  a.bezeichnung Artikelbezeichnung,
  h.name Herstellername,
  k.bezeichnung Artikelkategorie
FROM artikel a
  LEFT JOIN hersteller h ON a.herstellerid = h.id
  LEFT JOIN artikelkategorie k ON a.artikelkategorieid = k.id 
```

Bereits verbundene Tabellen können für weitere Verbindungen verwendet werden, z.B. zum Ermitteln aller Artikel, welche sich in Bestellungen befinden:
```sql
SELECT
  b.id BestellID,
  k.bestellmenge Bestellmenge,
  a.artikelnr Artikelnummer,
  a.bezeichnung Artikelbezeichnung
FROM bestellungkopf b 
  INNER JOIN bestellungposition k ON k.bestellid = b.id
  INNER JOIN artikel a ON a.id = k.artikelid
```

## Aufgaben

In [ ]:
# Ausführen um die Verbindung zur Datenbank aufzubauen

import urllib.request
urllib.request.urlretrieve("https://github.com/tschuegge/SqlKurs/raw/master/connect.py", "connect.py")
def sql(): pass
%run ./connect.py

### Aufgabe 1.3.1

Erstelle eine Artikelliste mit folgenden Spalten:
- Artikelnummer
- Bezeichnung
- MwSt-Satz als Zahl
- Kategoriebezeichnung

In [ ]:
sql("""



""")

### Aufgabe 1.3.2

Rufe ab, wann welcher Mitarbeiter eine Bestellung verkaufte. Gib Vor- und Nachname sowie Bestelldatum aus.

In [ ]:
sql("""



""")

### Aufgabe 1.3.3

Gib alle Bestellungen aus, welche von Mitarbeitenden verkauft wurden, welche nicht zur Abteilung 'Vertrieb' gehört.

In [ ]:
sql("""



""")

### Aufgabe 1.3.4

Ermittle alle Artikel, welche von Kunden aus Widnau bestellt wurden.

In [ ]:
sql("""



""")

### Aufgabe 1.3.5

Ermittle alle Abteilungen, welche Produkte von Belinea verkauft haben.

In [ ]:
sql("""



""")

### Aufgabe 1.3.6

Ermittle alle Artikel die einen tieferen MwSt-Satz haben wie 7.7%.

In [ ]:
sql("""



""")

### Aufgabe 1.3.7

Gib alle Bestellungen aus, welche von Kunden aus Emmen bestellt oder vermittelt wurden.

In [ ]:
sql("""



""")

### Aufgabe 1.3.8

Erstelle eine Artikelliste mit allen Bruttopreisen.

In [ ]:
sql("""



""")