# SQL Kurs Teil 1.4: DQL Group und Aggregatsfunktionen

Durch Gruppierung können Datensätze zusammengefasst werden und durch die Aggregatsfunktionen einzelne Spalten in der Gruppe verarbeitet werden.

## Syntax
```sql
SELECT {Resultat-Spalten} FROM {Tabelle} GROUP BY {Spalte nach der gruppiert wird} HAVING {Expression}
```


### Group By

Mehrere Datensätze werden anhand von Spalten gruppiert (gleiche Werte zusammengefasst).

```sql
SELECT Fach
FROM Schueler
GROUP BY Fach
```

Dadurch werden die Datensätze der Tabelle _Schueler_ anhand des Fachs gruppiert. Dies restlichen Spalten können nicht mehr eindeutig zurückgegeben werden. Sie müssen aggregiert werden.

![](./resources/group.drawio.svg)


### Aggregatsfunktionen

Werte in Spalten die durch die Gruppierung nich mehr eindeutig sind, müssen aggregiert werden, bevor sie ausgegeben werden.
`HAVING` ermöglicht es nach den gruppierten Werten zu filtern, ähnlich wie `WHERE` bei Abfragen ohne Gruppierung.
`WHERE` filtert die Datensätze bevor diese gruppiert wurden, `HAVING` filtert nach der Gruppierung. Die beiden Schlüsselworte können kombiniert verwendet werden.

```sql
SELECT
  Fach,                -- Gruppierte Spalte
  AVG(Note),           -- Durchschnitt der Noten anhand der Gruppierung
  MIN(Note),           -- Tiefste Note anhand der Gruppierung
  MAX(Note),           -- Höchste Note anhand der Gruppierung
  COUNT(*)             -- Anzahl (ursprünglicher) Datensätze pro Gruppe
FROM Schueler
GROUP BY Fach
  HAVING COUNT(*) > 1  -- Gibt nur Fächer aus, bei denen mehr wie eine Note vorhanden ist
```

Dadurch werden die Datensätze der Tabelle _Schueler_ anhand des Fachs gruppiert und die Werte des Spalte _Note_ aggregiert.

![](./resources/groupaggregate.drawio.svg)


Weitere Informationen: [Generation of the set of result rows](https://www.sqlite.org/lang_select.html#resultset)  
Weitere Informationen: [Built-in Aggregate Functions](https://www.sqlite.org/lang_aggfunc.html)


## Beispiele

Alle Namen der Abteilungen mit Mitarbeitenden und deren Anzahl ausgeben:
```sql
SELECT
  a.bezeichnung,
  COUNT(*)
FROM mitarbeiter m
  LEFT JOIN abteilung a ON m.abteilungid = a.id
GROUP BY a.bezeichnung
```

Alle Namen der Abteilungen mit Mitarbeitenden und deren Anzahl ausgeben, bei denen die Anzahl Mitarbeiter grösser wie 2 ist:
```sql
SELECT
  a.bezeichnung,
  COUNT(*) AnzahlMitarbeitende
FROM mitarbeiter m
  LEFT JOIN abteilung a ON m.abteilungid = a.id
GROUP BY a.bezeichnung
  HAVING AnzahlMitarbeitende > 2  -- HAVING funktioniert auch auf aggregierte Spalten in der Selektion
```

## Aufgaben

In [ ]:
# Ausführen um die Verbindung zur Datenbank aufzubauen

import urllib.request
urllib.request.urlretrieve("https://github.com/tschuegge/SqlKurs/raw/master/connect.py", "connect.py")
def sql(): pass
%run ./connect.py

### Aufgabe 1.4.1

Erstelle eine Liste mit der Anzahl Kunden pro Ort:

In [ ]:
sql("""



""")

### Aufgabe 1.4.2

Erstelle eine Liste mit der Anzahl Artikel pro Hersteller

In [ ]:
sql("""



""")

### Aufgabe 1.4.3

Erstelle eine Mitarbeitendenliste auf welcher der Nettoumsatz (basierend auf der Liefermenge) pro Mitarbeitenden ausgegeben wird.

In [ ]:
sql("""



""")

### Aufgabe 1.4.4

Ermittle das Wievielfache des Jahresgehalts (Quote) pro Mitarbeitenden verkauft wurde und sortiere absteigend nach der Quote. Als Grundlage kann die vorherige Liste verwendet werden.

In [ ]:
sql("""



""")

### Aufgabe 1.4.5

Ermittle den durchschnittlichen Bruttopreis und die Anzahl der Artikel pro Artikelkategorie. Relevant sind nur die Kategorien, welche mehr wie drei Artikel haben und nicht die Kategorie 'Software' sind.

In [ ]:
sql("""



""")

### Aufgabe 1.4.6

Mit Produkten welcher Hersteller werden weniger wie 500'000 Franken Nettoumsatz oder wird gar nichts geliefert?

In [ ]:
sql("""



""")