# SQL Kurs Teil 1.5: DQL Subquery and Common Table Expressions

Mit Subquerys k√∂nnen komplexe Abfragen vereinfacht werden, durch Common Table Expressions k√∂nnen Subquerys mehrfach verwendet werden.

## Syntax
```sql
-- Subquery
SELECT {Resultat-Spalten oder Subquerys} FROM {Subquery} WHERE {Spalte} IN ({Subquery})

-- Common Table Expression
WITH {Name der CTE} ( {Ergebnisspalten} ) AS ( {Query} )
SELECT {Spalten} FROM {Name der CTE}
```


### Subquery

Querys k√∂nnen beliebig ineinander verschachtelt werden. Dabei ist auf die Performance der Abfrage zu achten.
H√§ufig werden Subquerys in WHERE-Ausdr√ºcken verwendet.

```sql
SELECT *
FROM kunde
WHERE name IN (SELECT name FROM mitarbeiter)
```

Weitere Informationen: [Subquery Expressions](https://www.sqlite.org/lang_expr.html#subq)


### Common Table Expression

CTEs sind wie Views, welche nur f√ºr die Dauer einer Query aufgebaut werden.

```sql
WITH mitarbeitername_CTE AS (SELECT name FROM mitarbeiter)
SELECT * FROM kunde WHERE name IN mitarbeitername_CTE
```

Weitere Informationen: [The WITH Clause](https://www.sqlite.org/lang_with.html)

## Beispiele

Alle Kunden ausgeben, die in den gleichen Ortschaften die Mitarbeitende wohnen:
```sql
SELECT *
FROM kunde
WHERE ort IN (SELECT ort FROM mitarbeiter)
```

Herstellerliste mit meistverkauftem Artikel:
```sql
-- CTE selektiert die Bestellmengen aller Artikel, inkl. Herstellername
WITH Bestellmenge_CTE(Herstellername, Artikelbezeichnung, Bestellmenge) AS (
  SELECT
    h.name Herstellername,
    a.bezeichnung Artikelbezeichnung,
    SUM(p.bestellmenge) Bestellmenge
  FROM bestellungposition p
    LEFT JOIN artikel a ON a.id = p.artikelid
    LEFT JOIN hersteller h ON h.id = a.herstellerid
  GROUP BY a.bezeichnung
)

-- Beginn der eigentlichen Abfrage
SELECT
  name,
  (SELECT Artikelbezeichnung
   FROM Bestellmenge_CTE 
   WHERE Herstellername = name 
   ORDER BY Bestellmenge DESC 
   LIMIT 1
  ) TopArtikel,                  -- Meistverkaufter Artikel wird aus CTE selektiert
  (SELECT Bestellmenge
   FROM Bestellmenge_CTE
   WHERE Herstellername = name
   ORDER BY Bestellmenge DESC
   LIMIT 1
  ) MengeTopArtikel              -- Bestellmenge des meistverkauften Artikels wird aus CTE selektiert
FROM hersteller
```

## Aufgaben

In [ ]:
# Ausf√ºhren um die Verbindung zur Datenbank aufzubauen

import sqlite3
import pandas as pd
import urllib.request

urllib.request.urlretrieve("https://github.com/tschuegge/SqlKurs/raw/master/database.db", "database.db")
conn = sqlite3.connect("database.db")

def query(query):
  return pd.read_sql_query(query, conn)

print("üòä Verbunden mit Sqlite " + sqlite3.sqlite_version)

### Aufgabe 1.5.1

Erstelle eine Liste mit allen Herstellern, von denen keine Artikel verkauft wurden:

In [ ]:
query("""



""")

### Aufgabe 1.5.2

Welche Artikel wurden in Ortschaften verkauft in denen ein Mitarbeitender wohnt?

In [ ]:
query("""



""")

### Aufgabe 1.5.3

Erstelle eine Liste mit allen Verk√§ufern und deren Lieblingshersteller (Hersteller von dem am meisten Artikel verkauft wurden):

In [ ]:
query("""



""")