# SQL Kurs Teil 1.6: DML Insert Update Delete

Mit dem Befehl `INSERT` werden neue Daten in die Datenbank eingefügt, mit `UPDATE` werden bestehende Daten geändert und mit `DELETE` werden Daten gelöscht.

Hinweis: Falls für die Bearbeitung von Daten mehrere Statements notwendig sind, dann sind mehrere `sql("""   """)` Befehle notwendig. Pro `sql("""    """)`-Block ist nur ein Statement möglich.


## Syntax

```sql
-- Insert
INSERT INTO {Tabelle} ( {Spalten} ) VALUES ( {kommagetrennte Werte} )
INSERT INTO {Tabelle} ( {Spalten} ) {Subquery}

-- Update
UPDATE {Tabelle} SET {Spalte} = {Wert} WHERE {Expression}

-- Delete
DELETE FROM {Tabelle} WHERE {Expression}
```


### Insert

Neue Daten können als kommagetrennte Werte oder als Subquery eingefügt werden.
Auf die Angabe der Spalten kann verzichtet werden, wenn für alle Spalten Werte angegeben werden und die Reihenfolge der Werte mit der Reihenfolge der Spalten in der Datenbank übereinstimmt.
Spalten werden einen Standardwert definiert haben oder Null-Werte zulassen, müssen nicht mit Wert befüllt werden (z.B. `AUTOINCREMENT`).

```sql
-- Spalten können weggelassen werden, entspricht: INSERT INTO abteilung (id, bezeichnung) VALUES (7, 'Entwicklung')
INSERT INTO abteilung VALUES (7, 'Entwicklung')

-- Es können mehrere Datensätze eingefügt werden
INSERT INTO abteilung VALUES (7, 'Entwicklung'), (8, 'Produktion')

-- Spalte "id" kann weggelassen werden, da "autoincrement" auf der Spalte aktiviert ist und immer der nächst höhere Wert eingefügt wird
INSERT INTO abteilung (bezeichnung) VALUES ('Entwicklung')

-- für jeden Hersteller wird eine Abteilung eingefügt
INSERT INTO abteilung (bezeichnung) SELECT name FROM hersteller
```

Weitere Informationen: [Insert](https://www.sqlite.org/lang_insert.html)


### Update

Mit `UPDATE` werden Daten verändert. Dabei können die angegebenen Werte oder das Ergebnis einer Abfrage (mit `FROM`) verwendet werden.  
**Vorsicht**, wenn die WHERE-Bedingung vergessen wird, dann werden _alle_ Daten der Tabelle aktualisiert.

```sql
-- Name eines Mitarbeiters ändern
UPDATE mitarbeiter SET name = 'Meier', vorname = 'Stephan' WHERE id = 3 -- immer Primärschlüssel explizit angeben,
                                                                        -- wenn nur ein einzelner Datensatz verändert werden soll

-- Bezeichnung der MwSt-Sätze erweitern
UPDATE mwstsatz SET bezeichnung = 'Satz ' || bezeichnung -- bestehende Werte können verwendet werden
```

Weitere Informationen: [Update](https://www.sqlite.org/lang_update.html)


### Delete

`DELETE` löscht Datensätze in der Datenbank.  
**Vorsicht**, wenn die WHERE-Bedingung vergessen wird, dann werden _alle_ Daten der Tabelle gelöscht.

```sql
-- Eine Bestellungsposition löschen
DELETE FROM bestellungposition WHERE id = 2

-- Eine Bestellung löschen
DELETE FROM bestellungposition WHERE bestellungkopfid = 2;  -- zuerst die Positionen löschen
                                                            -- da eine Fremdschlüsselbeziehung auf den Bestellungskopf besteht
DELETE FROM bestellungkopf WHERE id = 2;
```

Weitere Informationen: [Delete](https://www.sqlite.org/lang_delete.html)

## Aufgaben

In [ ]:
# Ausführen um die Verbindung zur Datenbank aufzubauen

import urllib.request
urllib.request.urlretrieve("https://github.com/tschuegge/SqlKurs/raw/master/connect.py", "connect.py")
def sql(): pass
%run ./connect.py

### Aufgabe 1.6.1

Eine neue Kundin muss in die Datenbank eingefügt werden:

Raphaela Iten  
Alte Zugerbergstrasse 43  
6314 Unterägeri

Tel P: 041 754 23 85  
E-Mail: r.iten@bluewin.ch

Die Kundin bezahlt per Rechnung (Zahlungsart: R) und hat keine Geschäftstelefonnummer. Ausserdem sind die Kundennummern aufsteigend.

In [ ]:
sql("""



""")

In [ ]:
# Kontrolle

sql("SELECT * FROM kunde ORDER BY id DESC")

### Aufgabe 1.6.2

Es gibt mehrere Gemeinden mit dem Namen Buchs. Bitte beim Ortnamen das Kantonskürzel ergänzen:

PLZ  | Kanton
-----|--------
5033 | AG
8107 | ZH
9470 | SG

In [ ]:
sql("""



""")

In [ ]:
# Kontrolle

sql("SELECT * FROM kunde WHERE ort LIKE 'Buchs%'")

### Aufgabe 1.6.3

Alle Mitarbeitenden als Kunden hinzufügen (Zahlungsart: K, private Telefonnummer leer lassen):

In [ ]:
sql("""



""")

In [ ]:
# Kontrolle

sql("SELECT * FROM kunde ORDER BY id DESC LIMIT 20")

### Aufgabe 1.6.4

Alle Bestellungen vor dem 1. Januar 2011 löschen:

In [ ]:
sql("""



""")

In [ ]:
# Kontrolle

sql("SELECT * FROM bestellungkopf")

### Aufgabe 1.6.5

Rechnungsbeträge (alle Positionen, Liefermenge * Artikelnettopreis * MwSt-Satz) aller Bestellköpfe berechnen:

In [ ]:
sql("""



""")

In [ ]:
# Kontrolle

sql("SELECT * FROM bestellungkopf")