# SQL Kurs Teil 2.1: DDL Create Alter Drop

Mit dem Befehl `CREATE` werden neue Tabellen in die Datenbank eingefügt, mit `ALTER` werden bestehende Tabellen geändert und mit `DROP` werden Tabellen gelöscht. Neben Tabellen werden mit den Befehlen auch andere Elemente des Schema (wie Views, Indexes oder Trigger) manipuliert.


## Syntax

```sql
-- Create
CREATE TABLE
  IF NOT EXISTS  -- optionale Angabe, damit Tabelle nur erstellt wird, falls sie nicht existiert
  {Tabellenname} (
    {Spaltenname} {Datentyp} {optionale Angaben zur Einschränkungen, Indexes, Schlüsseln}
  )

-- Alter
ALTER TABLE {Tabellenname} RENAME TO {Neuer Tabellenname}  -- Tabelle umbenennen
ALTER TABLE {Tabellenname} RENAME COLUMN {Spaltenname} TO {Neuer Spaltenname}  -- Spalte umbenennen
ALTER TABLE {Tabellenname} ADD COLUMN {Spaltenname} {Datentyp} {optionale Angaben zur Einschränkungen, Indexes, Schlüsseln}  -- Neue Spalte einfügen
ALTER TABLE {Tabellenname} DROP COLUMN {Spaltenname}  -- Spalte löschen

-- Drop
DROP TABLE
  IF EXISTS  -- optionale Angabe, damit Tabelle nur gelöscht wird, falls sie nicht existiert
  {Tabellenname}
```


### Create Table

Neue Tabellen werden mit `CREATE TABLE` erstellt.

```sql
CREATE TABLE IF NOT EXISTS neueadresstabelle (
  id INTEGER PRIMARY KEY AUTOINCREMENT,  -- Primärschlüssel (PRIMARY KEY) als Ganzzahl, der als Standardwert immer die nächst höhere Zahl einfügt (AUTOINCREMENT)
  nachname TEXT NOT NULL,  -- Textspalte die zwingend ist (NOT NULL)
  vorname TEXT,  -- Textspalte die optional ist (NULL ist die Standardvorgabe und kann daher weggelassen werden)
  email TEXT UNIQUE,  -- Textspalte bei der jeder Wert eindeutig sein muss (UNIQUE), UNIQUE ist ein Index, welcher die Einzigartigkeit der Werte sicherstellt
  status INTEGER NOT NULL CHECK(status BETWEEN 1 AND 3),  -- Zwingende Ganzzahl bei der eine Überprüfung vorgenommen wird (CHECK), als Überprüfung kann ein beliebiger Ausdruck verwendet werden
  lieblingsartikel INTEGER REFERENCES artikel(id),  -- Optionaler Fremdschlüssel auf ID des Artikels (REFERENCES), Datentyp muss übereinstimmen
  erstelltvon TEXT NOT NULL DEFAULT 'admin',  -- Zwingende Textspalte mit Standardwert (DEFAULT)
  erstelltam INTEGER NOT NULL DEFAULT CURRENT_TIMESTAMP  -- Zwingende Ganzzahl mit dem aktuellen Timestamp als Standardwert (DEFAULT CURRENT_TIMESTAMP)
)
```

Weitere Informationen: [Create Table](https://www.sqlite.org/lang_createtable.html)


### Alter Table

Mit `ALTER TABLE` Tabellen können umbenannt oder die Spalten verändert werden.
**Vorsicht**, wenn eine Spalte gelöscht wird, sind _alle_ Werte darin verloren.

```sql
-- Tabelle umbenennen
ALTER TABLE neueadresstabelle
  RENAME TO neueadresstabelle_sicherung

-- Spalte umbenennen
ALTER TABLE neueadresstabelle
  RENAME COLUMN email TO e_mail

-- Spalte hinzufügen
ALTER TABLE neueadresstabelle
  ADD COLUMN ort TEXT NOT NULL DEFAULT 'St. Gallen'  -- Falls eine zwingende Spalte hinzugefügt wird, muss ein Standardwert angegeben werden,
                                                     -- da sonst NULL eingefügt würde, und NULL ist bei zwingenden Spalten nicht erlaubt.

-- Spalte löschen
ALTER TABLE neueadresstabelle
  DROP COLUMN vorname
```

Weitere Informationen: [Alter Table](https://www.sqlite.org/lang_altertable.html)


### Drop Table

`DROP TABLE` löscht eine Tabelle in der Datenbank.
**Vorsicht**, wenn eine Tabelle gelöscht wird, sind _alle_ Werte darin verloren.

```sql
DROP TABLE IF EXISTS neueadresstabelle
```

Weitere Informationen: [Drop Table](https://www.sqlite.org/lang_droptable.html)

## Aufgaben

In [ ]:
# Ausführen um die Verbindung zur Datenbank aufzubauen

import urllib.request
urllib.request.urlretrieve("https://github.com/tschuegge/SqlKurs/raw/master/connect.py", "connect.py")
def sql(): pass
%run ./connect.py

### Aufgabe 2.1.1

Im Kundenstamm soll nur noch eine Telefonnummer geführt werden. Daher muss die private Telefonnummer in die zukünftige Spalte "telefon" übernommen und die geschäftliche Telefonnummer gelöscht werden:

In [ ]:
sql("""



""")

In [ ]:
# Kontrolle

sql("SELECT * FROM kunde")

### Aufgabe 2.1.2

Es soll ein Ranking zu den Artikeln hinzugefügt werden. Das Ranking darf nur die Werte _A_, _B_ oder _C_ beinhalten, der Wert ist zwingend und zu Beginn sind alle Artikel als _C_ eingestuft.

In [ ]:
sql("""



""")

In [ ]:
# Kontrolle

sql("SELECT * FROM artikel")

### Aufgabe 2.1.3

Es wird eine Tabelle mit dem Namen _supportanfragen_ benötigt um Supportanfragen zu Artikeln zu verwalten. Folgende Informationen müssen gespeichert werden:
- Kunde der die Anfrage stellt
- Artikel den es betrifft
- Anfrage in Textform
- Details zur Anfrage in Textform, müssen nicht immer vorhanden sein
- Mitarbeiter der die Anfrage beantwortet
- Status der Anfrage, kann _offen_ oder _erledigt_ sein
- Zeitpunkt der Erstellung

In [ ]:
sql("""



""")

In [ ]:
# Kontrolle

sql("SELECT * FROM supportanfragen")

### Aufgabe 2.1.4

Es soll sichergestellt werden, dass keine Doubletten bei den Herstellern vorkommen können:

In [ ]:
sql("""



""")

In [ ]:
# Kontrolle

sql("SELECT * FROM hersteller")